In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('./input/lending-club-loan-data/loan1.csv', low_memory=False)
data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,200001,NaN,NaN,20000,20000,20000.0,60 months,12.73,452.31,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,200002,NaN,NaN,10000,10000,9725.0,36 months,12.73,335.65,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,200003,NaN,NaN,40000,40000,40000.0,36 months,8.46,1261.97,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,200004,NaN,NaN,5000,5000,5000.0,36 months,6.67,153.64,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,200005,NaN,NaN,14000,14000,14000.0,36 months,8.46,441.69,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# print number of features and shape of data
records = data.shape[0]
print ('Number of records is ',records)
print ('Number of features is ',len(data.columns))

Number of records is  199999
Number of features is  146

### Missing Attributes in Data

    - We find that there lot of attributes which have completely missing values - removing those.

In [5]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(data)

Your selected dataframe has 146 columns and 199999 Rows.
There are 62 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
id,0,199999,100.0,199999,100.0,float64
url,0,199999,100.0,199999,100.0,float64
member_id,0,199999,100.0,199999,100.0,float64
desc,0,199999,100.0,199999,100.0,float64
orig_projected_additional_accrued_interest,0,199927,100.0,199927,100.0,float64
hardship_length,0,199920,100.0,199920,100.0,float64
payment_plan_start_date,0,199920,100.0,199920,100.0,object
hardship_reason,0,199920,100.0,199920,100.0,object
hardship_status,0,199920,100.0,199920,100.0,object
deferral_term,0,199920,100.0,199920,100.0,float64
hardship_amount,0,199920,100.0,199920,100.0,float64
hardship_start_date,0,199920,100.0,199920,100.0,object
hardship_end_date,0,199920,100.0,199920,100.0,object
hardship_type,0,199920,100.0,199920,100.0,object
hardship_dpd,31,199920,100.0,199951,100.0,float64
hardship_loan_status,0,199920,100.0,199920,100.0,object
hardship_payoff_balance_amount,0,199920,100.0,199920,100.0,float64
hardship_last_payment_amount,0,199920,100.0,199920,100.0,float64
settlement_date,0,199840,99.9,199840,99.9,object
settlement_percentage,0,199840,99.9,199840,99.9,float64
debt_settlement_flag_date,0,199840,99.9,199840,99.9,object
settlement_status,0,199840,99.9,199840,99.9,object
settlement_amount,0,199840,99.9,199840,99.9,float64
settlement_term,0,199840,99.9,199840,99.9,float64
sec_app_mths_since_last_major_derog,101,190695,95.3,190796,95.4,float64
mths_since_last_record,0,174796,87.4,174796,87.4,float64
verification_status_joint,0,173797,86.9,173797,86.9,object
sec_app_revol_util,335,172829,86.4,173164,86.6,float64
sec_app_open_acc,21,172339,86.2,172360,86.2,float64
annual_inc_joint,0,172339,86.2,172339,86.2,float64
...,...,...,...,...,...,...
sec_app_chargeoff_within_12_mths,26989,172339,86.2,199328,99.7,float64
sec_app_open_act_il,3681,172339,86.2,176020,88.0,float64
revol_bal_joint,30,172339,86.2,172369,86.2,float64
sec_app_mort_acc,11082,172339,86.2,183421,91.7,float64
sec_app_inq_last_6mths,16885,172339,86.2,189224,94.6,float64
sec_app_num_rev_accts,175,172339,86.2,172514,86.3,float64
sec_app_earliest_cr_line,0,172339,86.2,172339,86.2,object
mths_since_recent_bc_dlq,0,159874,79.9,159874,79.9,float64
mths_since_last_major_derog,3,152535,76.3,152538,76.3,float64
mths_since_recent_revol_delinq,0,141739,70.9,141739,70.9,float64
mths_since_last_delinq,0,110586,55.3,110586,55.3,float64
il_util,500,33178,16.6,33678,16.8,float64
mths_since_recent_inq,13957,24079,12.0,38036,19.0,float64
next_pymnt_d,0,22052,11.0,22052,11.0,object
emp_title,0,16539,8.3,16539,8.3,object
emp_length,0,15805,7.9,15805,7.9,object
mo_sin_old_il_acct,0,7559,3.8,7559,3.8,float64
mths_since_rcnt_il,93,7559,3.8,7652,3.8,float64
num_tl_120dpd_2m,195461,4538,2.3,199999,100.0,float64
bc_util,4067,2727,1.4,6794,3.4,float64
percent_bc_gt_75,76999,2650,1.3,79649,39.8,float64
bc_open_to_buy,1269,2647,1.3,3916,2.0,float64
mths_since_recent_bc,1388,2490,1.2,3878,1.9,float64
dti,360,508,0.3,868,0.4,float64
last_pymnt_d,0,271,0.1,271,0.1,object
revol_util,2090,227,0.1,2317,1.2,float64
all_util,683,50,0.0,733,0.4,float64
avg_cur_bal,247,12,0.0,259,0.1,float64
last_credit_pull_d,0,3,0.0,3,0.0,object
pct_tl_nvr_dlq,1,1,0.0,2,0.0,float64

In [6]:
data = data.dropna(axis=1, how='any')

# print number of features and shape of data
print ('Number of records is ',data.shape[0])
print ('Number of features is ',len(data.columns))

data.to_csv('./input/lending-club-loan-data/clean_loan.csv')

Number of records is  199999
Number of features is  84

In [7]:
data.head()

,Unnamed: 0,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,...,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,200001,20000,20000,20000.0,60 months,12.73,452.31,B,B5,RENT,...,0.0,0.0,0.0,17100.0,7428.0,13500.0,0.0,N,Cash,N
1,200002,10000,10000,9725.0,36 months,12.73,335.65,B,B5,RENT,...,1.0,0.0,0.0,26394.0,17904.0,11000.0,15394.0,N,Cash,N
2,200003,40000,40000,40000.0,36 months,8.46,1261.97,A,A5,MORTGAGE,...,2.0,0.0,0.0,376496.0,75188.0,60400.0,77310.0,N,Cash,N
3,200004,5000,5000,5000.0,36 months,6.67,153.64,A,A2,MORTGAGE,...,1.0,0.0,0.0,44644.0,13269.0,15300.0,14244.0,N,Cash,N
4,200005,14000,14000,14000.0,36 months,8.46,441.69,A,A5,RENT,...,0.0,0.0,0.0,19400.0,12902.0,8100.0,10000.0,N,Cash,N

In [8]:
import gc
gc.collect()

88