In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('./input/lending-club-loan-data/loan.csv', low_memory=False)
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# print number of features and shape of data
records = data.shape[0]
print ('Number of records is ',records)
print ('Number of features is ',len(data.columns))

Number of records is  2260668
Number of features is  145

### Missing Attributes in Data

    - We find that there lot of attributes which have completely missing values - removing those.

In [10]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, mis_val, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'Missing Values', 2 : '% of Total Values'})
        mz_table['Total Zero Missing Values'] = mz_table['Zero Values'] + mz_table['Missing Values']
        mz_table['% Total Zero Missing Values'] = 100 * mz_table['Total Zero Missing Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " + str(mz_table.shape[0]) +
              " columns that have missing values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

missing_zero_values_table(data)

Your selected dataframe has 145 columns and 2260668 Rows.
There are 113 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
id,0,2260668,100.0,2260668,100.0,float64
url,0,2260668,100.0,2260668,100.0,float64
member_id,0,2260668,100.0,2260668,100.0,float64
orig_projected_additional_accrued_interest,0,2252242,99.6,2252242,99.6,float64
hardship_length,0,2250055,99.5,2250055,99.5,float64
hardship_reason,0,2250055,99.5,2250055,99.5,object
hardship_status,0,2250055,99.5,2250055,99.5,object
deferral_term,0,2250055,99.5,2250055,99.5,float64
hardship_amount,0,2250055,99.5,2250055,99.5,float64
hardship_start_date,0,2250055,99.5,2250055,99.5,object
hardship_end_date,0,2250055,99.5,2250055,99.5,object
payment_plan_start_date,0,2250055,99.5,2250055,99.5,object
hardship_loan_status,0,2250055,99.5,2250055,99.5,object
hardship_dpd,2402,2250055,99.5,2252457,99.6,float64
hardship_payoff_balance_amount,0,2250055,99.5,2250055,99.5,float64
hardship_last_payment_amount,0,2250055,99.5,2250055,99.5,float64
hardship_type,0,2250055,99.5,2250055,99.5,object
debt_settlement_flag_date,0,2227612,98.5,2227612,98.5,object
settlement_status,0,2227612,98.5,2227612,98.5,object
settlement_date,0,2227612,98.5,2227612,98.5,object
settlement_amount,0,2227612,98.5,2227612,98.5,float64
settlement_percentage,0,2227612,98.5,2227612,98.5,float64
settlement_term,2729,2227612,98.5,2230341,98.7,float64
sec_app_mths_since_last_major_derog,399,2224726,98.4,2225125,98.4,float64
sec_app_revol_util,1182,2154484,95.3,2155666,95.4,float64
revol_bal_joint,106,2152648,95.2,2152754,95.2,float64
sec_app_open_acc,95,2152647,95.2,2152742,95.2,float64
sec_app_chargeoff_within_12_mths,105117,2152647,95.2,2257764,99.9,float64
sec_app_open_act_il,14376,2152647,95.2,2167023,95.9,float64
sec_app_collections_12_mths_ex_med,101793,2152647,95.2,2254440,99.7,float64
...,...,...,...,...,...,...
num_rev_tl_bal_gt_0,11252,70276,3.1,81528,3.6,float64
num_tl_30dpd,2184561,70276,3.1,2254837,99.7,float64
tot_hi_cred_lim,70,70276,3.1,70346,3.1,float64
num_bc_tl,5701,70276,3.1,75977,3.4,float64
total_il_high_credit_limit,263497,70276,3.1,333773,14.8,float64
num_bc_sats,23661,58590,2.6,82251,3.6,float64
num_sats,61,58590,2.6,58651,2.6,float64
acc_open_past_24mths,100270,50030,2.2,150300,6.6,float64
mort_acc,929606,50030,2.2,979636,43.3,float64
total_bc_limit,25349,50030,2.2,75379,3.3,float64
total_bal_ex_mort,1584,50030,2.2,51614,2.3,float64
title,0,23325,1.0,23325,1.0,object
last_pymnt_d,0,2426,0.1,2426,0.1,object
revol_util,13069,1802,0.1,14871,0.7,float64
dti,1732,1711,0.1,3443,0.2,float64
pub_rec_bankruptcies,1987383,1365,0.1,1988748,88.0,float64
chargeoff_within_12_mths,2243339,145,0.0,2243484,99.2,float64
collections_12_mths_ex_med,2223085,145,0.0,2223230,98.3,float64
tax_liens,2195933,105,0.0,2196038,97.1,float64
last_credit_pull_d,0,73,0.0,73,0.0,object
inq_last_6mths,1381722,30,0.0,1381752,61.1,float64
open_acc,56,29,0.0,85,0.0,float64
total_acc,0,29,0.0,29,0.0,float64
earliest_cr_line,0,29,0.0,29,0.0,object
delinq_2yrs,1839108,29,0.0,1839137,81.4,float64
delinq_amnt,2253465,29,0.0,2253494,99.7,float64
acc_now_delinq,2251857,29,0.0,2251886,99.6,float64
pub_rec,1902758,29,0.0,1902787,84.2,float64
annual_inc,1667,4,0.0,1671,0.1,float64
zip_code,0,1,0.0,1,0.0,object

In [11]:
data = data.dropna(axis=1, how='any')

In [14]:
data = data.dropna(axis=1, how='any')

# print number of features and shape of data
print ('Number of records is ',data.shape[0])
print ('Number of features is ',len(data.columns))

data.to_csv('./input/lending-club-loan-data/clean_loan.csv')

Number of records is  2260668
Number of features is  32

In [15]:
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,verification_status,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code,application_type,hardship_flag,disbursement_method,debt_settlement_flag
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,RENT,Not Verified,...,53.04,0.0,0.0,0.0,84.92,1,Individual,N,Cash,N
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,MORTGAGE,Source Verified,...,894.86,0.0,0.0,0.0,777.23,1,Individual,N,Cash,N
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,MORTGAGE,Source Verified,...,141.10,0.0,0.0,0.0,180.69,1,Individual,N,Cash,N
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,MORTGAGE,Source Verified,...,118.64,0.0,0.0,0.0,146.51,1,Individual,N,Cash,N
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,MORTGAGE,Not Verified,...,762.23,0.0,0.0,0.0,731.78,1,Individual,N,Cash,N

In [1]:
import gc
gc.collect()

57