In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('./input/lending-club-loan-data/clean_loan.csv', low_memory=False)
data.head()

,Unnamed: 0,Unnamed: 0.1,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_op_past_12m,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,0,200001,20000,20000,20000.0,60 months,12.73,452.31,B,B5,...,0.0,0.0,0.0,17100.0,7428.0,13500.0,0.0,N,Cash,N
1,1,200002,10000,10000,9725.0,36 months,12.73,335.65,B,B5,...,1.0,0.0,0.0,26394.0,17904.0,11000.0,15394.0,N,Cash,N
2,2,200003,40000,40000,40000.0,36 months,8.46,1261.97,A,A5,...,2.0,0.0,0.0,376496.0,75188.0,60400.0,77310.0,N,Cash,N
3,3,200004,5000,5000,5000.0,36 months,6.67,153.64,A,A2,...,1.0,0.0,0.0,44644.0,13269.0,15300.0,14244.0,N,Cash,N
4,4,200005,14000,14000,14000.0,36 months,8.46,441.69,A,A5,...,0.0,0.0,0.0,19400.0,12902.0,8100.0,10000.0,N,Cash,N

In [4]:
data.dtypes

Unnamed: 0                      int64
Unnamed: 0.1                    int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                      float64
installment                   float64
grade                          object
sub_grade                      object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                       int64
total_acc                     float64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
                               ...
inq_last_12m                  float64
acc_open_past_24mths          float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
disbursement_method            object
debt_settlement_flag           object
Length: 85, dtype: object

In [5]:
def label_encode_features (data, feature):
    tmp_feature = pd.get_dummies(data[feature], prefix = feature, prefix_sep='_')
    tmp_feature_df = pd.DataFrame(data=tmp_feature)

    data_tmp = pd.concat([data, tmp_feature_df],axis=1)
    return data_tmp.drop([feature],axis=1)

In [6]:
print (data.shape)
data = label_encode_features(data, 'term')
data = label_encode_features(data, 'grade')
data = label_encode_features(data, 'sub_grade')
data = label_encode_features(data, 'home_ownership')
data = label_encode_features(data, 'verification_status')
data = label_encode_features(data, 'issue_d')
data = label_encode_features(data, 'loan_status')
data = label_encode_features(data, 'pymnt_plan')
data = label_encode_features(data, 'purpose')
data = label_encode_features(data, 'addr_state')
data = label_encode_features(data, 'initial_list_status')
data = label_encode_features(data, 'application_type')
data = label_encode_features(data, 'hardship_flag')
data = label_encode_features(data, 'disbursement_method')
data = label_encode_features(data, 'debt_settlement_flag')
print (data.shape)

(199999, 85)
(199999, 209)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

data_scaled = scaler.fit_transform(data[['loan_amnt','funded_amnt_inv','int_rate','installment','revol_bal','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_amnt','policy_code']])
data_scaled_df = pd.DataFrame(data=data_scaled, columns=['loan_amnt','funded_amnt_inv','int_rate','installment','revol_bal','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_amnt','policy_code'])

reduced_data = data.drop(['loan_amnt','funded_amnt_inv','int_rate','installment','revol_bal','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_amnt','policy_code'],axis=1)
data_scaled = pd.concat([data_scaled_df, reduced_data],axis=1)

#data_scaled = pd.DataFrame(data_scaled, columns=data.columns)

C:\MachineLearning\anaconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\MachineLearning\anaconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [ ]:
data_scaled.to_csv('./input/lending-club-loan-data/clean_encoded_loan.csv')

In [1]:
import gc
gc.collect()

57